<% include header.ejs %>
<h1>Главная страница</h1>
<div id="news"></div>
<!-- <% include news.ejs %> -->
<!-- <% include news2.ejs %> -->
<!-- <% include news3.ejs %> -->
<!-- <% include footer.ejs %> -->
