<div id="1">
  <h3>Brexit - live updates: Ex-minister outlines plan for MPs to seize control of EU withdrawal as Brussels issues warning over Irish border</h3>
  <img src="https://images.scribblelive.com/2019/1/22/a5a06c0a-065b-49f6-b023-5e0fadc2465d.jpg" alt="">
  <p>MPs are drawing the battle lines for a potential extension to the Article 50 process and “indicative votes” on a fresh EU referendum, as they table amendments in the Commons.</p>
  <p>It comes after Theresa May was warned that up to 40 government ministers could resign if she refuses to allow them to vote for a plan that would prevent a no-deal scenario on 29 March.</p>
  <p>Speaking on Monday, Ms May vowed again to seek changes to the Irish border backstop – leading to Jeremy Corbyn to compare her statement to “Groundhog Day”, adding it was like last week’s crushing defeat on her Brexit deal “never happened”.</p>
</div>

<div id="2">
  <h3>Unite union boss Len McCluskey to have face-to-face meeting with Theresa May this week</h3>
  <img src="https://i.connatix.com/s3/connatix-uploads/3f84d95a-5872-4743-bacd-d98ff49130a8/1.jpg?mode=crop&width=749&height=421" alt="">
  <p>MPs are drawing the battle lines for a potential extension to the Article 50 process and “indicative votes” on a fresh EU referendum, as they table amendments in the Commons.</p>
  <p>It comes after Theresa May was warned that up to 40 government ministers could resign if she refuses to allow them to vote for a plan that would prevent a no-deal scenario on 29 March.</p>
  <p>Speaking on Monday, Ms May vowed again to seek changes to the Irish border backstop – leading to Jeremy Corbyn to compare her statement to “Groundhog Day”, adding it was like last week’s crushing defeat on her Brexit deal “never happened”.</p>
</div>

<div id="3">
  <h3>How To Learn A Language In 15 Minutes Per Day</h3>
  <img src="https://cms.babbel.news/wp-content/uploads/2018/03/updated-A8A9553_Karoline_facebook-1200x628.png?h=9999&quality=100&w=993" alt="">
  <p>MPs are drawing the battle lines for a potential extension to the Article 50 process and “indicative votes” on a fresh EU referendum, as they table amendments in the Commons.</p>
  <p>It comes after Theresa May was warned that up to 40 government ministers could resign if she refuses to allow them to vote for a plan that would prevent a no-deal scenario on 29 March.</p>
  <p>Speaking on Monday, Ms May vowed again to seek changes to the Irish border backstop – leading to Jeremy Corbyn to compare her statement to “Groundhog Day”, adding it was like last week’s crushing defeat on her Brexit deal “never happened”.</p>
</div>
